src/vendor/
.idea
.DS_Store
.vscode/
src/module/Test
src/public/css/.sass-cache
src/public/upload
SQL/1-schema/000_database.sql
upload/
data/

cache/
smile-database-data/
src/.env
.env
deploy_configuration/shibboleth/
deploy_configuration/db/999_demo_unicaen.sql
tmp.tmp
deploy_configuration/.env_proxy