#messagerie {

}
#messagerie .msgInscription {
    padding: 3px;
}
#messagerie .msgInscription.receiver {
    background: #FFFFFF;
    border-radius: 5px 5px 0 5px;
    /*text-align: right;*/
}
#messagerie .msgInscription.sender {
    color: white;
    background: #0362c1;
    border-radius: 0 5px 5px 5px;
    /*text-align: left;*/
}
#msgBox{
    background: #F5F5F5;
    padding-top: 3px;
    padding-left:0;
    padding-right:0;
}